body {
    font-family: 'Inter', sans-serif;
}

#avatar {
    border-radius: 50%;
    object-fit: cover;
}

#contact {
    margin: auto;
    text-align: center;
}

.description {
    color: grey;
}

@media screen and (max-width: 992px) {
    #avatar {
        width: 20vw;
        height: 20vw;
    }

    .card {
        max-width: 40em;
        max-height: 40em;
        margin: 2em auto auto auto;
        text-align: left;
        display: flex;
        flex-direction: column;
        border-radius: 4%;
        align-items: center;
    }

    .card img {
        max-width: 10em;
        border-radius: 5% 5% 0 0;
    }

    .description {
        font-size: larger;
    }

    #social-links {
        max-width: 50px;
        display: flex;
        flex-direction: row;
    }
}

@media screen and (min-width: 992px) {
    #contact {
        max-width: 300px;
    }

    #avatar {
        width: 10vw;
        height: 10vw;
    }

    .card {
        max-width: 40em;
        max-height: 10em;
        margin: 2em auto auto auto;
        text-align: left;
        display: flex;
        flex-direction: row;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: lightgray;

    }

    .card img {
        max-width: 10em;
        border-radius: 5px 0 0 5px;

    }

    .card_text {
        margin: 1em 1em 1em 1em;
    }

    .card_text h1 {
        margin-top: 0;
    }

    .description {
        font-size: small;
    }

    .social {
        max-width: 30px;
        max-height: 30px;
        margin-right: 10px;
    }
}