body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#avatar {
    border-radius: 50%;
    object-fit: cover;
    width: 30vw;
    height: 30vw;
    max-width: 150px;
    max-height: 150px;
    margin-top: 2em;
}

aside#contact {
    margin: auto;
}

.description {
    color: grey;
    font-size: larger;
}

#social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
}

.social {
    width: 30px;
    height: 30px;
}

main {
    width: 90%;
    margin-top: 2em;
}

.card {
    width: 100%;
    max-width: 40em;
    margin: 2em auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: auto;
}

.card_text {
    padding: 1em;
}

.card_text h1 {
    margin-top: 0;
    font-size: 1.5em;
}

/* Desktop styles */
@media screen and (min-width: 768px) {
    body {
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        padding: 2em;
    }

    aside#contact {
        position: sticky;
        top: 2em;
        width: 300px;
        margin-right: 2em;
        text-align: left;
    }

    #avatar {
        width: 10vw;
        height: 10vw;
        max-width: none;
        max-height: none;
    }

    #social-links {
        justify-content: flex-start;
    }

    main {
        width: 70%;
        margin-top: 0;
    }

    .card {
        flex-direction: row;
    }

    .card img {
        width: 12em;
        height: 100%;
        object-fit: cover;
    }

    .card_text h1 {
        font-size: 1.2em;
    }

    .description {
        font-size: small;
    }
}
